<div class="container-forgot">
  <form class="form-forgot" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <h5 class="margin-bottom">Recuperación de Contraseña</h5>
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Ingrese su email"
      />
      <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')"
        >El email es requerido</mat-error
      >
      <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')"
        >Ingrese un email válido</mat-error
      >
    </mat-form-field>
    <div ngClass="['form-group', 'margin-top']">
      <button class="btn btn-success btn-sm" type="submit" style="margin: 3px;">Enviar</button>
      <button class="btn btn-danger btn-sm" (click)="close($event)">Cerrar</button>
    </div>
  </form>
</div>
